body{
    border: 1px solid black;
    font-size: 16px;
    margin: 0px auto;
    max-width: 1024px;
    background-color: lightgray;
}
header {
    background-color: #245d92;
   
}
header nav{
    background-color: gray;
    
}
header img{
    margin-left: 395px;
    max-width: 210px;
    max-height: 210px;
}
header nav img{
    display: inline-block;
    max-width: 90px;
    max-height: 90px;
}
#not{
    float: right;
    margin-right: 280px;
    margin-top: 15px;
}
#msj{
    float: right;
    margin-right: 160px;
    margin-top: -38px;
}
#aju{
    float: right;
    margin-right: 40px;
    margin-top: -42px;
}


/*----------SECCION IZQUIERDA----------*/

/*-----ARTICLE 01-----*/
#izqSeccion{
    margin-top: 15px;
    display:inline-block;
    margin-left: 15px;
    padding-right: 60px;
    width: 40%;
}
#seccIzqart01{
    background-color: #1e4974;
    color: white;
    width: 51.5%;
}
#seccIzqart01 header{
    background-color:  #245d92;
}
#seccIzqart01 header img{
    margin-left: 0px;
    max-width: 10;
    max-height: 10;
}
#seccIzqart01 ul{
    margin-left: 0px;
}
/*-----ARTICLE 02-----*/
#seccIzqart02{
    background-color: white;
    
    width: 51.5%;
    color: gray;
}
#seccIzqart02 header{
    background-color: #245d92;
}
#seccIzqart02 header img{
    margin-left: 0px;
    margin-top: 0px;
    max-width: 10;
    max-height: 10;
    
}
#barra1{
    max-width: 205px;
    max-height: 100px;
}
#barra2{
    max-width: 205px;
    max-height: 100px;
}
#barra3{
    max-width: 205px;
    max-height: 100px;
}
#barra4{
    max-width: 205px;
}

/*-----SECCION DERECHA-----*/
#derSeccion{
    background-color: white;
}

#secDer01{
    display: inline-block;
    border: 1px solid red;
    margin-top: 10px;
}
